{% schema %}
  {
    "name": "Product Image Gallery",
    "settings": [
    ],
    "presets": [
      {
        "name": "Product Image Gallery",
        "category": "Product"
      }
    ]
  }
{% endschema %}
  
{% liquid 
  assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src' 
%}
  
<div class="product-gallery 
  product-gallery--{{ section.settings.gallery_layout }}" 
  data-section-id="{{ section.id }}"
>
    <div class="product-gallery__images-container">
      <div class="product-gallery__images product__media-wrapper">
        <div class="img-size">
          {% render 'product-media-gallery',
            variant_images: variant_images,
            section_settings: section.settings
          %}
        </div>
      </div>
    </div>
</div>
  
{% stylesheet %}
.img-size {
  max-width: 640px !important;
  max-height: 460px !important;
}

.product__media-list .product__media-item img {
  width: 640px !important;
  height: 460px !important;
  object-fit: cover;
}
  
.product-gallery--grid .product-gallery__images {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
{% endstylesheet %}