.section-page {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-title-width{
  width: 100%;
}
.page-title__heading {
  letter-spacing: 0.1em;
  margin: 0;
}

.page-title__description {
  max-width: 720px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left .page-title__description {
  margin: 0;
}

.text-right .page-title__description {
  margin: 0 0 0 auto;
}

@media screen and (max-width: 749px) { 
    
}
